{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'commerce-product',
  'commerce-product--' ~ product_entity.bundle|clean_class,
  'commerce-product--catalog'
]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="commerce-product--catalog__image">
    {{- product.field_images -}}
    {{- product.variation_field_images -}}
    <a href="{{ product_url }}" class="commerce-product--catalog__hover-text"><i class="glyph glyph-look"></i>{{'View product'|t}}</a>
  </div>
  <div class="commerce-product--catalog__info">
    {{- product|without('variation_attributes', 'field_images', 'variation_field_images') -}}
  </div>
</article>
